.container {
    margin: 5px;
    background-color: white;
    width: 47%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.movieTitle {
    width: 100%;
}

.moviePoster {
    margin: 15px;
}

.descText {
    flex: 1;
}
